* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#compras {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#compras div {
  width: 18%;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(233, 219, 219);
  border-radius: 10px;
  transition: ease 0.15s;
}
#compras div img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h2 {
  margin: 10px;
  font-family: Verdana;
  font-size: 11pt;
}
.data {
  text-align: center;
  font-family: verdana;
  font-size: 8pt;
  margin: 10px;
}
